.cont-redes {
    display: flex;
    position: relative;
    justify-content: space-between;
     margin-top: 20%;
    margin-right: 20%;
    margin-left: 15%;
    margin-bottom: 3%;
}

.cont-enlaces {
    display: flex;
    justify-content: space-evenly;
}