.cont-redes {
  display: flex;
  position: relative;
  justify-content: space-between;
  //margin-top: 13%;
  margin-right: 2%;
  margin-left: 6%;
  //margin-bottom: 5%;
  margin-top: 25rem;
  border: 1px solid blueviolet;
}

/*.cont-enlaces {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.cont-enlaces {
  a {
    font-size: 18px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 28px;
  }
  & i {
    margin-right: 2em;
  }
}

.cont-enlaces a i:hover {
  background-color:#0000ec;
  color: white;
  opacity: 1;
}*/

