/*Header*/

.sec-conocemas {
  margin-top: 6rem;
  margin-left: 0rem;
  margin-right: 1.5rem;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(30, 207, 24);
  display: flex;
  flex-direction: column;
}


.sec-conocemas h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  color: #060a24;
  letter-spacing: 0;
  line-height: 2.625rem;
  text-align: left;
  font-weight: 400;
}

.sec-conocemas p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  color:#060A24;
  letter-spacing: 0;
  line-height: 22px;
  text-align: justify;
}

.boton {
  margin-left: 0.938rem;
  margin-top: 2rem;
  border: 1px solid black;
}
