.sec-conocemas {
  margin: 120px 180px;
  width: 100%;

  .tachado {
    text-decoration: line-through;
  }

  .punto {
    color: #0000ec;
  }

  h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 64px;
    font-weight: 400px;
    color: #060a24;
    letter-spacing: 0;
    font-style: bold;
  }

  p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
    
  }
}

.boton {
  height: 56px;
  width: 226px;
  background: #00f3bb;
  font-family: "IBM Plex Mono", monospace;
  color: #060a24;
  font-size: 18px;
  line-height: 24px;
  margin-top: 3em;
}


.cont-iframes  {
  
  margin: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
   

  iframe {
    width: 584px;
    height: 232px;
    margin: 1em;
  }
}
