@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    

    img {
      margin-left: 5rem;
    }
    .nav {
      margin-right: 10rem;
    }
   
  }

  .sec-conocemas {
    border: 2px solid blue;
    width: 100%;
    padding: 3rem 10rem;

    .boton {
      align-items: center;
    }
  }

  .sec-episodios {
    .fondo-episodios {
      width: 100%;
    }

    h2 {
      margin-left: 5rem;
    }
  }
}

@media screen and (min-width: 1220px) {


  .header .nav .menu ul {

    background: unset;
    height: unset;
    position: relative;
    overflow: hidden;
    top: 0;
  }

  .header .nav .menu ul li {
    padding: 5px 10px;
    display: inline-block;
  }

  .header .nav .menu ul li {
    padding: 5px 10px;
    /*Para que la nav y sus elementos se muestren en una misma línea*/
    display: inline-block;
  }

  .header .nav .menu ul li:hover {
    color: unset;
  }

  .header .nav .menu input {
    /*Que no se vea el input*/
    display: none;
  }

  .header .nav .menu span {
    /*Que ya no se vean las líneas del menú hamburguesa*/
    display: none;
  }


.nav {
  border: 2px solid black;

}
  
  
  .sec-novedades {
    .fondo-novedades {
      border: 4px solid blueviolet;
      width: 100%;
    }
  }

  .footer {
    .cont-redes {
      border: 4px solid peru;
      width: 100%;
    }
  }
}
