@charset "UTF-8";
.sec-conocemas {
  margin: 120px 180px;
  width: 100%;
}

.sec-conocemas .tachado {
  text-decoration: line-through;
}

.sec-conocemas .punto {
  color: #0000ec;
}

.sec-conocemas h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 64px;
  /*Grosor de la letra 400 = peso normal de la letra */
  font-weight: 400;
  color: #060a24;
  letter-spacing: 0;
  font-style: bold;
  z-index: -999;
}

.sec-conocemas p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400px;
}

.boton {
  height: 56px;
  width: 226px;
  background: #00f3bb;
  font-family: "IBM Plex Mono", monospace;
  color: #060a24;
  font-size: 18px;
  /*Manito cuando se pase el cursor sobre el botón*/
  cursor: pointer;
  line-height: 24px;
  margin-top: 50px;
}

.sec-episodios .fondo-episodios {
  /*Propiedad transform para sesgar(skew en Y) el div en -6deg*/
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  width: 1440px;
  height: 900px;
  /*Imagen degradada*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  position: absolute;
  /*Cambiar la posición del elemento transformado en este caso skew
    top = 0% - left = 0%*/
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.sec-episodios h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  position: relative;
  color: white;
  /*Margen superior - derecho - inferior*/
  margin: 186px 200px 26px;
  font-weight: 400;
}

.cont-iframes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.cont-iframes iframe {
  /*Tamaño de los iframes*/
  width: 520px;
  height: 232px;
  margin: 1em;
}

.sec-dedondev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-dedondev h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: #060A24;
  margin-bottom: 0.5em;
  letter-spacing: 0;
  font-weight: 400;
}

.sec-dedondev p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060A24;
  /*Espacio entre carácters*/
  letter-spacing: 0;
  text-align: justify;
}

.sec-dedondev .cont-texto {
  margin-right: 2%;
}

.sec-dedondev .cont-imagen {
  position: relative;
  margin-top: 10%;
  margin-left: 5%;
}

.sec-dedondev .img-tel {
  width: 457.6px;
  height: 660px;
}

.sec-invitados h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: #060A24;
  font-weight: 400;
}

.sec-invitados h2 .cont-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-temas h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: #060A24;
  font-weight: 400;
}

.sec-temas .cont-temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec-temas .cont-temas .tema {
  width: 104px;
  height: 104px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Estilo del header y sus dos componentes (logo y nav)*/
.header {
  width: 100%;
  position: fixed;
  height: 80px;
  top: 0;
  background: white;
  padding: 10px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  /*Para superponer el header y que cubra a los elementos restantes*/
  z-index: 3;
}

.header .logo {
  height: 36px;
  width: 36px;
  margin-left: 5%;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
  font-size: 64px;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  color: black;
  font-size: 16px;
}

.header .nav {
  margin-right: 5%;
}

/*Estilo del menú y otros elementos ul, li, a*/
.header .nav .menu ul {
  /*posición absolute para que se posicione debajo del resto del header - top medida del header*/
  width: 100%;
  position: absolute;
  top: 45px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #f2f2f2;
  height: 0px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  z-index: 999;
}

.header .nav .menu ul li {
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
  color: black;
  font-size: 16px;
}

.header .nav .menu ul li:hover {
  background: #5a5a5a;
}

.header .nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: #060A24;
  padding: 16px 5%;
  line-height: 28px;
  display: block;
}

/*Interacción con el cursor*/
.header .nav .menu ul li a:hover {
  color: #fff;
}

/*animación del menu que se desplega input checkeado*/
.header .nav .menu input[type="checkbox"]:checked ~ ul {
  height: 240px;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
}

.header .nav .menu {
  padding-top: 3px;
}

/*checkbox transparente y en primer plano*/
.header .nav .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

/*span -lineas del menu hamburguesa-*/
/*Estilo*/
.header .nav .menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #000;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.55s ease;
  transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
}

/*Comportamiento*/
.header .nav .menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.header .nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/*movimiento a cruz*/
.header .nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

.header .nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.header .nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}
/*# sourceMappingURL=estilos.css.map */